$colorDarkBlue: #B3C8CF;
$colorLightBlue: #BED7DC;
$colorLightCream: #F1EEDC;
$colorDarkCream: #E5DDC5;
$colorWhite: white;

*body {
  border: none;
  padding: 0;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 0.8rem;
  background-color: $colorDarkBlue;
}
