@import 'Variables';


#footer {
  position: relative; 
  width: 100%; 
  background-color: $colorBeige;
  display: flex;
  flex-direction: column;
  height: 10vh;
  
  .brand {
    width: 50%;
    text-align: left;
    margin: 2%;
  }
}
