@import 'Variables';

html, body {
  margin: 0;
  padding: 0;
}

#navigation-bar {
  width: 100vw;
  background-color: $colorBeige;
  overflow: hidden;
  margin-bottom: 2%;
  
  a {
    display: inline-block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 2.5% 4%;

    &:first-child {
      margin-left: 0; 
    }

    &:hover {
      background-color: $colorWhite; 
    }
  }
}
