@import 'Variables';

html, body {
  margin: 0;
  padding: 0;
}

#navigation-bar {
  position: sticky; /* Make the navigation bar sticky */
  top: 0; /* Stick it to the top of the viewport */
  width: 100%; /* Set the width to 100% */
  background-color: $colorBlue;
  max-height: 5vw;
  overflow: hidden;
  z-index: 1000; /* Set a high z-index to ensure it appears above other content */

  a {
    display: inline-block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 1vw 4vw;

    &:first-child {
      margin-left: 0; 
    }

    &:hover {
      background-color: white; 
    }
  }
}
