@import 'Variables';

.tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .tile {
    width: calc(48% - 10px); /* Adjust width to fit two tiles per row with margin */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px; /* Adjust margin for spacing between tiles */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 60vh; /* Set a maximum height for the container */
  }

  .tile-image {
    width: 250px;
    height: 200px;
    overflow: hidden;
    margin: 10px auto; /* Center the image horizontally */
  }

  .tile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image fits within the specified dimensions */
  }

  .tile-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tile-header {
    text-align: center;
    font-size: 18px;
    margin-bottom: 8px;
  }

  .tile-description {
    flex-grow: 1;
    font-size: 14px;
    margin-bottom: 15px;
  }

  .github-link {
    text-align: center;
    margin-bottom: 1%;
  }

  .github-link a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
  }

  /* Responsive layout for smaller screens */
  @media (max-width: 768px) {
    .tile {
      width: calc(100% - 10px); /* Full width for single column on smaller screens */
    }
  }
}
