@import './Variables.scss';

/* Recipes App Container */
#recipes-app {
  overflow-x: hidden; 
  overflow-y: hidden; 
  padding: 0% 1%;
}

/* Search Bar for Recipes */
#search-recipes {
  padding: 2% 0%;

  .recipes-searchbar {
    margin: 1% 15%;
    display: flex;
    
    .searchbar {
      width: 75%;
      border: none;
      outline: none;
      border: 1px solid gray;
    }

    .searchbar-button {
      width: 25%;
      padding: 1%;
    }
  }
}

/* Recipe List */
.search-header-name {
  font-size: 1.5rem;
  text-align: left;
}

.recipes-grid-container {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr)); /* Adjusted grid-template-columns */
  gap: 2%;
  padding: 10%;
}

.recipe-item {
  position: relative; /* Add position relative */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between image and content */
  height: 100%; /* Ensure the item takes full height of the container */
  border: 1px solid gray;
  box-sizing: border-box;
  max-width: 500px;
}

.recipe-thumbnail {
  // height: 0;
  padding: 5% 10%; /* Aspect ratio 16:9 */
  width: 80%;
  height: 300px; /* Adjust the maximum height as needed */
  overflow: hidden; /* Hide any overflow */
  object-fit: cover;
  // border: 1px solid green;
}

.recipe-content {
  padding: 1rem;
}

.recipe-name {
  font-size: 16px;
  font-weight: bold;
}

.delete-recipe {
  width: 100%;
  padding: 0.5rem;
  background-color: $colorBeige;
  border: none;
  cursor: pointer;
}

