/* Recipes App Container */
#recipes-app {
  overflow-x: hidden; /* hides horizontal scrollbar */
  overflow-y: hidden; /* hides vertical scrollbar */
  padding: 0% 1%;
}

/* Search Bar for Recipes */
#search-recipes {
  padding: 2% 0%;
  // border: 2px solid red;

  .recipes-searchbar {
    margin: 1% 15%;
    display: flex;
    
    .searchbar {
      width: 75%;
      padding: 1%;
      border: none;
      outline: none;
      border: 1px solid gray;
    }

    .searchbar-button {
      width: 25%;
      padding: 1%;
    }
  }
}

/* Recipe List */
.search-header-name {
  font-size: 1.5rem;
  text-align: left;
}

.recipes-grid-container {
  margin: 2%;
  display: grid;
  grid-template-columns: auto auto auto; /* Adjusted grid-template-columns */
  gap: 30px;
  padding: 0 10%;
  border: 2px solid green;

  .recipe-item {
    text-align: center;
    height: auto;
    width: 25vw;
    max-width: 450px;
    padding: 2%;
    border: 2px solid blue;

    .recipe-thumbnail {
      height: 25vw;
      width: 20vw;
      max-width: 300px;
      object-fit: cover;
      box-sizing: border-box;
      border: 2px solid red;
    }

    .recipe-content {
      border: 2px solid orange;
      box-sizing: border-box;
      overflow: hidden;
      overflow: hidden; 
      text-overflow: ellipsis; 
      display: -webkit-box; 
        -webkit-line-clamp: 5; 
        -webkit-box-orient: vertical;
      box-sizing: border-box;

      .recipe-name {

      }
      .recipe-cuisine{

      }
      .recipe-ingredients {

      }
      .recipe-instructions {

      }
    }
  }
}
