@import 'Variables';

.SignUpLoginForm {
  width: 50%;
  border-radius: 20px;
  margin: auto auto;
  background-color: $colorWhite;
  padding: 5%;
}

.SignUpForm, .LoginForm, .LoggedInUser {
  background-color: $colorDarkCream;
  padding-bottom: 5%;
}


// input for passwords
.password {

}

button {
  
}

button:hover {

}
