$colorDarkBlue: #B3C8CF;
$colorLightBlue: #BED7DC;
$colorLightCream: #F1EEDC;
$colorDarkCream: #E5DDC5;
$colorWhite: white;


$colorBeige: #F2EFE8;
$colorBlue: #ccdbe3;
$colorBluePink: #FAF7F4;
$colorGray: #222222;
$colorWhite: #FFFFFF;